body{
    text-align: center;
    
    font-size: large;
    font-weight: 500;
    font-style: normal;  
    background-image: url('../Photos/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#header{
    display: inline-block;
    color:antiquewhite;
    border: 10px solid wheat;
    border-radius: 20%;
    width: 300px;
    background-color:crimson;
    
    
}
.Page-header {
    font-family: 'Montserrat', sans-serif;
    background-color: #0d3a94;
    padding: 20px;
    color: white;

}
nav {
    font-size: large;
    display: flex;
    justify-content: right;
    gap: 20px;
}

#title {
    align-self: flex-start;
    font-weight: bold;
    font-size: x-large;
    color: white;
    margin-right: auto;
}

nav .nav-buttons {
   
    background: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: gainsboro;
    font-size: 16px;
}

nav .nav-buttons:hover {
   
    background-color:#092e78;
}

#info{
    display: inline-block;
    border-color: cadetblue;
    font-weight: 500;
    font-style: normal;
    border: 5px inset red;
    background-color:cornflowerblue;
    width: 400px;
    color:aliceblue;
}
#Members{
    color:aliceblue;
    display:inline-block;
    text-align: center;
    font-style: italic;
    padding-right: 10px;
    gap: 20px;
}
#Pranav{
    border-radius: 50%;
    height: 100px;
    width: auto;
    text-align: center;
}
#Neevan{
     border-radius: 50%;
    height: 100px;
    width: auto;   
}
#Aryan{
     border-radius: 50%;
    height: 100px;
    width: auto;   
}
.leetcode{
    color : #00ff22;
}  
.leetcode > td> a:link{
    color : goldenrod;
    
}
.leetcode > td > a:visited{
    color : #f63e00;
    
}
.codeforces{
    color : #9af1ff;
}
.codeforces > td> a:link{
    color : #9af1ff;
    
}
.codeforces > td > a:visited{
    color : #005eff;
    
}
.codechef{
   color : #ec5103;
} 

#FilterBar{
  margin: auto;
  width: 100%;
  height: 5%;
  display: flex;
}
#FilterBar > input{
    margin: 5px;
}
#lc,#cc,#cf,#cl{
    border: none;
    align-items: end;
    background: transparent;
    color: azure;
}
#lc:hover,#cc:hover,#cf:hover,#cl:hover{
    background-color: goldenrod;
    
}
#cc:hover{
    background-color: #ec5103;
}
#cf:hover{
    background-color: royalblue;
}
#cl:hover{
    background-color: rebeccapurple;
}

#ProblemTable{
    
    text-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ProblemTable > table{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border: solid black;
}

#ProblemTable > table >tbody>tr{
    text-align: center;
    /*color: azure;*/
    height: 50px;
}

#ProblemTable > table >thead>tr{
    color: azure;
    height: 50px;
}

#ProblemTable > table > tbody>td{
   
    border: solid black;
}
#ProblemTable > table > thead>th{
    border: solid black;
}
